<main>
    <div class="banniere">
        <img src="/imgBanniere.jpg" alt="banniere">
        <div class="banniere__title">
            <h1>Bienvenue à Green City, votre association pour aider dans l'entretien des espaces verts !</h1>
        </div>

    </div>
    <section class="cardGreenSpace">
        <h2 class="cardGreenSpace__title">Venez visiter un de nos espaces vert !</h2>
        <div class="cardGreenSpace__container">
            @for(greenSpace of greenSpaces; track greenSpace._id){
            <app-green-space [space]="greenSpace"></app-green-space>
            }
        </div>
    </section>
    
    <button routerLink="/spaceForm">Ajouter un nouvel espace vert !</button>
</main>

